ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    padding: 8px;
    background-color: #ddd18a;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    background-color: #98daee;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: rgb(5, 5, 5);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }